body {
    background-color: black;
}
/*REFACTOR THIS TOO BE RESPONSIVE*/
.grid {
    width: 400px;
    height: 95vh;
    background: url("https://raw.githubusercontent.com/kubowania/Doodle-Jump/master/background.png");
    position: relative;
    margin: 1px auto;
    overflow: hidden;
}

.doodler {
    width: 86px;
    height: 85px; 
    background: url("https://raw.githubusercontent.com/kubowania/Doodle-Jump/master/doodler-guy.png");
    position: absolute;
    border: 1px solid black;
}

.platform {
    width: 85px; /*this factors into this.left -> 315+85=400 (width of grid)*/
    height: 15px;
    background: url("https://raw.githubusercontent.com/kubowania/Doodle-Jump/master/platform.png");
    position: absolute;
    border: 1px solid black;
}

.score {
  margin: 10px 15px;
}